@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
}
.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}
.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-logo{
    width: 80px;
}
@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
      animation: nav-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes nav-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }